@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.conteiner{
    position: relative; /*lembrete: usar por causa dos botões*/
    padding: 15px;
    max-width: 640px;
    margin: 0 auto;
}

.galeria_img{
    overflow-x: auto;
}

.img_box{
    display: flex;
    flex-flow: row nowrap; /*deixas os itens continuos*/
    gap: 10px;
}

.seta-esquerda,
.seta-direita{
    top: 0;
    left: 0;
    right: auto;
    bottom: 0;

    font-size: 20px;
    line-height: 250px;
    width: 40px;
    text-align: center;
    border: none;
    cursor: pointer;
    background: linear-gradient(to left, transparent 0%, black 200%);
    opacity: 0.1;
    transition: all 0.8s ease-in-out;
}

.seta-esquerda{
    top: 0;
    right: 0;
    right: auto;
    bottom: 0;

    background: linear-gradient(to right, transparent 0%, black 200%);
}

.seta-esquerda:hover,
.seta-direita:hover{
    opacity: 1;
}